@model SafeVault.Models.RegisterDto

<form asp-action="Register" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email"/>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password"/>
    </div>
    <button type="submit">Register</button>
</form>